[submodule "Resources/pd.build"]
	path = Resources/pd.build
	url = https://github.com/charlesneimog/pd.build
[submodule "Libraries/simpl"]
	path = Libraries/simpl
	url = https://github.com/charlesneimog/simpl
[submodule "Libraries/agsl"]
	path = Libraries/agsl
	url = https://github.com/ampl/gsl.git
[submodule "Resources/pd.cmake"]
	path = Resources/pd.cmake
	url = https://github.com/pure-data/pd.cmake
